

  .container { 
     border: 1px solid red;
     height: 600px;
     width: 700px;
     margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "Img Img Img"
      "sidebar Main Main"
      "sidebar BANNER BANNER"
      "sidebar Publicité img"
      "footer footer footer";
  }
  .grid{
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .header {
    border: 1px solid;
    background-color:  #030334;
     grid-area: header; }
  
  .Img {
    background-color:rgba(69, 93, 250, 0.837) ;
    height: 100px;
    padding: 20px;
     grid-area: Img; }
  
  .sidebar {
    background-color: brown; 
    text-align: center;

     grid-area: sidebar; }
  
  .Main { 
    background-color: blue;

    grid-area: Main; }
  
  .BANNER {
    background-color: rgba(231, 203, 64, 0.921);
    grid-area: BANNER; }
  
  .Publicité { 
    background-color:  rgb(23, 227, 186);
    
    grid-area: Publicité; }
  
  .footer {

      background-color: rgb(20, 123, 232);
    grid-area: footer; }
  
  .img { 
    color: black;
     grid-area: img; }
  